.success {
  color: #2dca73;
}

.error {
  color: #ff0b37;
}

.warning {
  color: #ffb800;
}

.info {
  color: #0f81e0;
}

.icon {
  height: 25px;
  width: 25px;
}

.close-icon {
  height: 25px;
  width: 25px;
  margin-left: auto;
}

.each-notifications-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
  border: 0.1px solid #475569;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .each-notifications-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
  }
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-left: 20px;
}

.notification-heading {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto';
  margin: 0px;
  padding: 0px;
  margin-bottom: 7px;
}

.notification-para {
  font-size: 15px;
  color: #64748b;
  font-family: 'Roboto';
  margin: 0px;
  padding: 0px;
}

.succes-heading {
  color: #2dca73;
}

.error-heading {
  color: #ff0b37;
}

.warning-heading {
  color: #ffb800;
}

.info-heading {
  color: #0f81e0;
}
